:host {
  --border-color-dark: #1368B2;
  --border-color-light: #3e88c9;
  --text-color-secondary: #434242;
  --background-color-light: #f2f6ff;
  --background-color-medium: #1368B2;
  --header-gradient-start: #1368B2;
  --header-gradient-middle: #1368B2;
  --header-gradient-end: #0b4578;
  --button-border: #1368B2;
  --button-fill: #f4f7ff;
  --system-message: #f0f0f0;
  --background-color-white: #ffffff;
}

/* General styles */
.vfrc-widget--chat {
  border-radius: 20px;
  border: 0.5px solid var(--border-color-light);
}

.vfrc-header {
  background: linear-gradient(to right, var(--header-gradient-start) 40%, var(--header-gradient-end));
}

.vfrc-footer { 
  border-radius: 0px;
  border-top: 0.5px solid var(--border-color-light);
  background: linear-gradient(to right, var(--header-gradient-start) 40%, var(--header-gradient-middle));
}

/* Text and color */
.vfrc-assistant-info--title {
  color: var(--border-color-dark);
}

.vfrc-assistant-info--description {
  color: var(--text-color-secondary);
}

/* Button styles */
.vfrc-button--thumbs-up {
  background-color: var(--text-color-secondary);
}

.vfrc-button--secondary {
  border-radius: 10px;
  border: 1.6px solid var(--button-border);
  background-color: var(--button-fill);
}

.vfrc-button--secondary:hover {
  background-color: var(--system-message);
}

.vfrc-button--primary {
  background-color: var(--button-border);
  color: var(--text-color-secondary);
  border-radius: 10px;
}

/* Text bubbles */
.vfrc-system-response .vfrc-message {
  background-color: var(--system-message);
  color: var(--text-color-secondary);
  border-radius: 15px 15px 0 15px;
}

.vfrc-user-response .vfrc-message {
  background-color: var(--background-color-medium);
  border-radius: 15px 15px 15px 0;
}

/* Chat input field */
.vfrc-chat-input {
  border: 0.5px solid var(--border-color-light);
  border-radius: 15px;
  background-color: var(--button-fill);
}

.vfrc-chat-input textarea::placeholder {
  color: #3e88c9; /* Adjusted to match original color */
}

/* Proactive messages */
.vfrc-proactive-message {
  background-color: var(--background-color-white);
  border-radius: 20px;
  font-weight: 500;
}
